.hero-section1 {
  background-image: url(../img/CrudBack.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 100px 0 20px;
  height: 588px;
}

.All-Content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 1350px;
  margin: 20px 50px;
  height: 530px;
}

.SearchBar input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


.hero-section1 > .All-Content > .Table-Area h1 {

  text-align: center;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero-section1 > .All-Content > .Table-Area > .tableContainer {
  max-height: 350px;
  overflow-y: auto;
  position: relative;
  margin-bottom: 20px;
}

.hero-section1 > .All-Content > .Table-Area > .tableContainer > .table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 10px; /* Padding inside table cells */
  text-align: center; /* Text alignment */
}

.table th {
  background-color: #f0f0f0; 
  position: sticky;
  top: 0;
  z-index: 1;
}

.update-button {
  background-color: orange;
  color: black;
  border-color: orange;
  width: 50px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  margin: 5px;
}

.delete-button {
  background-color: red;
  color: black;
  border-color: red;
  width: 80px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
  font-weight: bold;
}

.create-button {
  background-color: green;
  color: black;
  border-color: green;
  width: 100px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 700px;
  font-weight: bold;
}

.create-button button :hover {
  background-color: lightgray;
  color: black;
  border-color: black;
}

/* update area */
.Edit-Add-document-menu {
  background-image: url(../img/EditBack.png);
  margin: 0;
  padding: 100px 0 20px;
  background-size: cover;
  background-position: center;
  height: 588px;
}

.Edit-Add-document-menu h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: rgb(4, 4, 145);
  color: rgb(4, 4, 145);
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > .custom-form {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.row {
  display: flex;
  margin-bottom: 15px;
  margin-right: 20px;
}

.col {
  flex: 1;
  padding: 0 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.col:last-child {
  margin-right: 10px;
  margin-left: 10px;
}

.container > .custom-form > .full-width {
  width: 100%;
}

.col label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.col input[type="text"],
input[type="email"],
input[type="datetime-local"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.col input[type="text"]input[type="email"],
input[type="datetime-local"]:focus,
textarea:focus {
  border-color: #3498db;
  outline: none;
}

.button-row {
  text-align: center;
  margin-top: 15px;
}

.save-button,
.back-button {
  padding: 10px 20px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button {
  background-color: #3498db;
  font-size: large;
  width: 100px;
  height: 40px;
  padding: 5px;
  color: #fff;
}

.save-button:hover {
  background-color: #2980b9;
}

.back-button {
  background-color: #ccc;
  font-size: large;
  width: 200px;
  height: 40px;
  padding: 5px;
}

.back-button:hover {
  background-color: #b0b0b0;
}
